@model Presensi360.ViewModels.ResetPasswordViewModel;

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Account.cshtml";
}
<div class="login-box">
    <div class="card card-outline card-info">
        <div class="card-header">
            <div class="login-logo text-center">
                <h4>Reset Password</h4>
            </div>
        </div>
        <div class="card-body">
            <form asp-action="ResetPassword" method="post">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input readonly type="text" asp-for="Email"
                                class="form-control @(ViewData.ModelState["Email"]?.Errors.Any() == true ? "is-invalid" : "")">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" type="password" placeholder="Password"
                                   class="form-control @(ViewData.ModelState["Password"]?.Errors.Any() == true ? "is-invalid" : "")">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password"
                                   class="form-control @(ViewData.ModelState["ConfirmPassword"]?.Errors.Any() == true ? "is-invalid" : "")">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-info btn-block">Reset Password</button>
                    </div>
                </div>
            </form>
            <div class="row mt-3">
                <div class="col-12">
                    Remember Password? <a href="@Url.Action("Login", "Account")">Login</a>
                </div>
            </div>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>