@model EmployeeModel
@{
    ViewData["Title"] = "Profile";
}

<div class="col-12">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-info card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        @if (Model.Gender == "M")
                        {
                            <img class="profile-user-img img-fluid img-circle"
                                 src="~/templates/img/man.png" style="width: 128px; height: 128px;"
                                 alt="User profile picture">
                        }
                        else
                        {
                            <img class="profile-user-img img-fluid img-circle"
                                 src="~/templates/img/woman.png" style="width: 128px; height: 128px;"
                                 alt="User profile picture">
                        }
                    </div>
                    <h3 class="profile-username text-center">@Model.Users!.FullName</h3>
                    <p class="text-muted text-center">00@(Model.EmployeeId)</p>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Email</b> <a class="float-right">@Model.Users!.Email</a>
                        </li>
                        <li class="list-group-item">
                            <b>Phone</b> <a class="float-right">@(Model.Users?.PhoneNumber ?? "-")</a>
                        </li>
                        <li class="list-group-item">
                            <b>Username</b> <a class="float-right">@Model.Users!.UserName</a>
                        </li>
                        <li class="list-group-item">
                            <b>NPWP</b> <a class="float-right">@Model.Npwp</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-info btn-block" data-toggle="modal"
                            data-target="#modal-default">
                        Edit Password
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">About Me</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <strong><i class="fas fa-user-graduate mr-1"></i> Education Level</strong>
                    <p class="text-muted">
                        @Model.Education!.EducationName
                    </p>
                    <hr>
                    <strong><i class="fas fa-user-tie mr-1"></i> Job Title</strong>
                    <p class="text-muted">
                        @(Model.JobTitle?.JobTitleName ?? "-")
                    </p>
                    <hr>
                    <strong><i class="far fa-building mr-1"></i> Company</strong>
                    <p class="text-muted">@Model.Division?.SubDepartment?.Department?.Company?.CompanyName</p>
                    <hr>

                    <strong><i class="fas fa-street-view mr-1"></i> Unit</strong>
                    <p class="text-muted">@Model.SubUnit!.SubUnitName</p>
                    <hr>

                    <strong><i class="fas fa-sitemap mr-1"></i> Department</strong>
                    <p class="text-muted">@Model.Division!.DivisionName - @Model.Division?.SubDepartment?.SubDepartmentName</p>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title"><strong>Family</strong></h2>
                </div>
                <div class="card-body">
                    <table id="example3" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">No</th>
                            <th>Name</th>
                            <th class="text-center">Relation</th>
                            <th class="text-center">Gender</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model?.EmployeeDependents != null)
                        {
                            var iteration = 1;
                            foreach (var item in Model.EmployeeDependents)
                            {
                                <tr>
                                    <td class="text-center">@iteration</td>
                                    <td>@item.DependentName</td>
                                    <td class="text-center">@item.DependentStatus</td>
                                    <td class="text-center">
                                        @(item.DependentGender switch
                                        {
                                            "M" => "Male",
                                            "F" => "Female",
                                            _ => "-"
                                        })
                                    </td>
                                </tr>
                                iteration++;
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Change Password-->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="changePasswordForm">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h4 class="modal-title">Change your Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="old-password">Old Password</label>
                                <input id="old-password" type="password" class="form-control" placeholder="Old Password"
                                       name="oldPassword">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="new-password">New Password</label>
                                <input id="new-password" type="password" class="form-control" placeholder="New Password"
                                       name="newPassword">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="confirm-new-password">Confirm Password</label>
                                <input id="confirm-new-password" type="password" class="form-control"
                                       placeholder="Confirm New Password" name="confirmNewPassword">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submit-btn">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            console.log("Page Loaded with jQuery");
            $("#changePasswordForm").submit(function (event) {
                event.preventDefault();

                var submitButton = $("#submit-btn");
                submitButton.prop("disabled", true);
                submitButton.text("Saving...");
                let oldPassword = $("#old-password").val();
                let newPassword = $("#new-password").val();
                let confirmNewPassword = $("#confirm-new-password").val();
                if (newPassword !== confirmNewPassword) {
                    Swal.fire({
                        title: "Validation Error",
                        text: "Passwords do not match!",
                        icon: "warning"
                    });
                    submitButton.prop("disabled", false);
                    submitButton.text("Save changes");
                    return;
                }

                var csrfToken = $('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url: '@Url.Action("ChangePassword", "Account")',
                    type: 'POST',
                    data: {
                        oldPassword: oldPassword,
                        newPassword: newPassword,
                        confirmNewPassword: confirmNewPassword
                    },
                    dataType: 'json',
                    headers: {
                        "X-CSRF-TOKEN": csrfToken
                    },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: "Success",
                                text: "Password has been changed successfully",
                                icon: "success"
                            });
                            $('#modal-default').modal('hide');
                            $('#changePasswordForm').trigger("reset");
                        } else {
                            let errorMessages = '';
                            if (response.errors && Array.isArray(response.errors)) {
                                response.errors.forEach(function (error) {
                                    errorMessages += error + "<br/>";
                                });
                            } else {
                                errorMessages = "An unknown error occurred.";
                            }
                            Swal.fire({
                                title: "Error",
                                html: errorMessages,
                                icon: "error"
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            title: "Fatal Error",
                            text: "An error occurred. Please Contact Administrator !",
                            icon: "error"
                        });
                    },
                    complete: function () {
                        submitButton.prop("disabled", false);
                        submitButton.text("Save changes");
                    }
                });
            });
        });
    </script>
}
