@model DHR.ViewModels.Employee.CreateEmployeeViewModel

@{
    ViewBag.Title = "Register Employee";
}

<div class="col-12">
    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="card">
            <div class="card-header">
                <a href="@Url.Action("Index", "Employee")" class="btn btn-danger">Back</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Nip">NIP</label>
                            <input type="number"
                                   class="form-control @(ViewData.ModelState["Nip"]?.Errors.Any() == true ? "is-invalid" : "")"
                                   asp-for="Nip" placeholder="Ex: 1234, 2233, 1122, 7777, 8888">
                            <span asp-validation-for="Nip" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="FullName">Name</label>
                            <input type="text"
                                   class="form-control @(ViewData.ModelState["FullName"]?.Errors.Any() == true ? "is-invalid" : "")"
                                   asp-for="FullName"
                                   placeholder="Ex: Jhon Doe, Jane Doe, Ran Doe">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input type="email"
                                   class="form-control @(ViewData.ModelState["Email"]?.Errors.Any() == true ? "is-invalid" : "")"
                                   asp-for="Email" placeholder="Ex: jhon.doe@darmexagro.com, jane.doe@darmexagro.com">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="PhoneNumber">Phone Number</label>
                            <input type="text"
                                   class="form-control @(ViewData.ModelState["PhoneNumber"]?.Errors.Any() == true ? "is-invalid" : "")"
                                   asp-for="PhoneNumber"
                                   placeholder="Ex: 0812345678900, 089876543211">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Nik">NIK</label>
                            <input type="number"
                                   class="form-control @(ViewData.ModelState["Nik"]?.Errors.Any() == true ? "is-invalid" : "")"
                                   asp-for="Nik" placeholder="Ex: 1234567897654321, 9876543212345678">
                            <span asp-validation-for="Nik" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Npwp">NPWP</label>
                            <input type="text"
                                   class="form-control @(ViewData.ModelState["Npwp"]?.Errors.Any() == true ? "is-invalid" : "")"
                                   asp-for="Npwp"
                                   placeholder="Ex: 412312312312333">
                            <span asp-validation-for="Npwp" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Gender">Gender</label>
                            <select
                                class="form-control select2bs4 @(ViewData.ModelState["Gender"]?.Errors.Any() == true ? "is-invalid" : "")"
                                style="width: 100%;" asp-for="Gender">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="JoinDate">Join Date</label>
                            <input type="date"
                                   class="form-control @(ViewData.ModelState["JoinDate"]?.Errors.Any() == true ? "is-invalid" : "")"
                                   asp-for="JoinDate">
                            <span asp-validation-for="JoinDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="DivisionId">Division</label>
                            <select
                                class="form-control select2bs4 @(ViewData.ModelState["DivisionId"]?.Errors.Any() == true ? "is-invalid" : "")"
                                style="width: 100%;" asp-for="DivisionId">
                                @foreach (var division in (ViewBag.Divisions as IEnumerable<DivisionModel>)!)
                                {
                                    <option
                                        value="@division.DivisionId">@division.DivisionCode - @division.DivisionName</option>
                                }
                            </select>
                            <span asp-validation-for="DivisionId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="JobTitleId">Job Title</label>
                            <select
                                class="form-control select2bs4 @(ViewData.ModelState["JobTitleId"]?.Errors.Any() == true ? "is-invalid" : "")"
                                style="width: 100%;" asp-for="JobTitleId">
                                @foreach (var jobTitle in (ViewBag.JobTitle as IEnumerable<JobTitleModel>)!)
                                {
                                    <option
                                        value="@jobTitle.JobTitleId">@jobTitle.JobTitleCode - @jobTitle.JobTitleName</option>
                                }
                            </select>
                            <span asp-validation-for="JobTitleId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="TaxExemptIncomeId">Tax Income</label>
                            <select
                                class="form-control select2bs4 @(ViewData.ModelState["TaxExemptIncomeId"]?.Errors.Any() == true ? "is-invalid" : "")"
                                style="width: 100%;" asp-for="TaxExemptIncomeId">
                                @foreach (var tax in (ViewBag.Taxes as IEnumerable<TaxExemptIncomeModel>)!)
                                {
                                    <option
                                        value="@tax.TaxExemptIncomeId">@tax.TaxExemptIncomeCode - @tax.TaxExemptIncomeName</option>
                                }
                            </select>
                            <span asp-validation-for="TaxExemptIncomeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="SubUnitId">Sub-Unit</label>
                            <select
                                class="form-control select2bs4 @(ViewData.ModelState["SubUnitId"]?.Errors.Any() == true ? "is-invalid" : "")"
                                style="width: 100%;" asp-for="SubUnitId">
                                @foreach (var subUnit in (ViewBag.SubUnits as IEnumerable<SubUnitModel>)!)
                                {
                                    <option
                                        value="@subUnit.SubUnitId">@subUnit.Unit?.UnitName - @subUnit.SubUnitName</option>
                                }
                            </select>
                            <span asp-validation-for="SubUnitId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="ReligionId">Religion</label>
                            <select
                                class="form-control select2bs4 @(ViewData.ModelState["ReligionId"]?.Errors.Any() == true ? "is-invalid" : "")"
                                style="width: 100%;" asp-for="ReligionId">
                                @foreach (var religion in (ViewBag.Religions as IEnumerable<ReligionModel>)!)
                                {
                                    <option
                                        value="@religion.ReligionId">@religion.ReligionName</option>
                                }
                            </select>
                            <span asp-validation-for="ReligionId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="EducationId">Education</label>
                            <select
                                class="form-control select2bs4 @(ViewData.ModelState["EducationId"]?.Errors.Any() == true ? "is-invalid" : "")"
                                style="width: 100%;" asp-for="EducationId">
                                @foreach (var education in (ViewBag.Educations as IEnumerable<EducationModel>)!)
                                {
                                    <option value="@education.EducationId">@education.EducationName</option>
                                }
                            </select>
                            <span asp-validation-for="EducationId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Address">Address</label>
                            <textarea
                                class="form-control @(ViewData.ModelState["Address"]?.Errors.Any() == true ? "is-invalid" : "")"
                                asp-for="Address"
                                placeholder="Ex: Jl. TB. Simatupang No.1, Jakarta Selatan."
                                rows="4"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
