@model IEnumerable<EmployeeModel>
@{
    ViewData["Title"] = "Employees List";
    var iteration = 1;
}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <a href="@Url.Action("Create", "Employee")" class="btn btn-primary"><i class="fas fa-plus-square mr-2"></i>Employee</a>
            <div class="card-tools">
                <a href="@Url.Action("Import", "Employee")" class="btn btn-primary"><i class="fas fa-file-upload mr-2"></i>Import</a>
            </div>
        </div>
        <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center">No</th>
                    <th>NIP</th>
                    <th>Name</th>
                    <th>Job Title</th>
                    <th>Sub Unit</th>
                    <th>Division</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@iteration</td>
                        <td>00@(item.Nip)</td>
                        <td>@item.Users?.FullName</td>
                        <td>@item.JobTitle?.JobTitleName</td>
                        <td>@item.SubUnit?.SubUnitName</td>
                        <td>@item.Division?.DivisionName</td>
                        <td>
                            <a href="@Url.Action("Details", "Employee", new { id = item.EmployeeId })"
                               class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="View">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="@Url.Action("Details", "EmployeeBenefit", new { id = item.EmployeeId })"
                               class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Employee Benefit">
                                <i class="fas fa-money-check-alt"></i>
                            </a>
                        </td>
                    </tr>
                    iteration++;
                }
                </tbody>
            </table>
        </div>
    </div>
</div>