@model IEnumerable<EmployeeModel>
@{
    ViewData["Title"] = "Employees List";
    var iteration = 1;
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center">No</th>
                    <th>NIP</th>
                    <th>Name</th>
                    <th>Job Title</th>
                    <th>Sub Unit</th>
                    <th>Division</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@iteration</td>
                        <td>00@(item.EmployeeID)</td>
                        <td>@item.Users?.FullName</td>
                        <td>@item.JobTitle?.JobTitleName</td>
                        <td>@item.SubUnit?.SubUnitName</td>
                        <td>@item.Division?.DivisionName</td>
                        <td>
                            <a href="@Url.Action("Details", "Employee", new { id = item.EmployeeID })"
                               class="btn btn-info">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="@Url.Action("Edit", "Employee", new { id = item.EmployeeID })"
                               class="btn btn-warning"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                    iteration++;
                }
                </tbody>
            </table>
        </div>
    </div>
</div>