@model IEnumerable<EmployeeModel>
@{
    ViewData["Title"] = "Employees List";
    var iteration = 1;
}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <a href="@Url.Action("Create", "Employee")" class="btn btn-primary"><i class="fas fa-plus-square mr-2"></i>Employee</a>
            <div class="card-tools">
                <a href="@Url.Action("Import", "Employee")" class="btn btn-primary"><i class="fas fa-file-upload mr-2"></i>Import</a>
            </div>
        </div>
        <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center">No</th>
                    <th>NIP</th>
                    <th>Name</th>
                    <th>Job Title</th>
                    <th>Sub Unit</th>
                    <th>Division</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@iteration</td>
                        <td>00@(item.Nip)</td>
                        <td>@item.Users?.FullName</td>
                        <td>@item.JobTitle?.JobTitleName</td>
                        <td>@item.SubUnit?.SubUnitName</td>
                        <td>@item.Division?.DivisionName</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-info dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <a class="dropdown-item" href="@Url.Action("Details", "Employee", new { id = item.EmployeeId })">Detail</a>
                                    <a class="dropdown-item" href="@Url.Action("Edit", "Employee", new { id = item.EmployeeId })">Edit</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("Details", "EmployeeBenefit", new { id = item.EmployeeId })">Benefit</a>
                                    <a class="dropdown-item" href="#">Account</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    iteration++;
                }
                </tbody>
            </table>
        </div>
    </div>
</div>