@model IEnumerable<EmployeePermissionRequest>

@{
    ViewData["Title"] = Resource.PermissionRequest;
    int iteration = 1;
}

<div class="col-12">
    @if(!Model.Any())
    {
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-exclamation-triangle"></i> @Resource.Notice!</h5>
            @Resource.UserPermissionNullAlert
        </div>
    }

    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <a href="@Url.Action("DownloadForm", "PermissionRequest")" class="btn btn-info">
                    <i class="fas fa-file-download mr-2"></i>
                    Form
                </a>
            </div>
        </div>

        <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>No</th>
                    <th>@Resource.Code</th>
                    <th>@Resource.Date</th>
                    <th>Type</th>
                    <th>HR</th>
                </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){
                        <tr>
                            <td>@iteration</td>
                            <td>@item.EmployeePermissionRequestCode</td>
                            <td>@(item.PermissionDate.ToString("dd/MMM/yyyy"))</td>
                            <td>@item.PermissionType</td>
                            <td>@item.PersonnelRemarks</td>
                        </tr>
                        iteration++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>