@model IEnumerable<Presensi360.Models.LocationModel>
@{
    ViewData["Title"] = "Work Area List";
    var iteration = 1;
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <a href="@Url.Action("Create", "WorkArea")" class="btn btn-primary"><i class="fas fa-plus-square mr-2"></i>Work Area</a>
        </div>
        <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@iteration</td>
                        <td>@item.LocationCode</td>
                        <td>@item.LocationName</td>
                        <td>
                            <a href="@Url.Action("Edit", "WorkArea", new { id = item.LocationID })" class="btn btn-warning">Edit</a>
                        </td>   
                    </tr>
                    iteration++;
                }
                </tbody>
            </table>
        </div>
    </div>
</div>