@{
    ViewData["Title"] = $"{Resource.Management} Work Entry";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <a href="@Url.Action("Create", "ManagementWorkEntry")" class="btn btn-info">
                <i class="fas fa-plus-square mr-2"></i> Work Entry
            </a>
            <div class="card-tools">
                <a href="@Url.Content("~/uploads/TemplateForm/TemplateWorkEntry.xlsx")" class="btn btn-success">
                    <i class="fas fa-download mr-2"></i>Template
                </a>
                <a href="@Url.Action("Import", "ManagementWorkEntry")" class="btn btn-primary">
                    <i class="fas fa-upload mr-2"></i>Data
                </a>
            </div>
        </div>
        <div class="card-body">
            <table id="workEntryRequestTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">No</th>
                        <th>Code</th>
                        <th>NIP</th>
                        <th>Employee</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>@Resource.Date</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            const roleUser = '@ViewBag.RoleUser';
            $('#workEntryRequestTable').DataTable({
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "ajax": {
                    "url": "/ManagementWorkEntry/GetWorkEntryRequests",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return meta.row + 1;
                        },
                        "name": "No",
                        "autoWidth": true
                    },
                    {"data": "employeeWorkEntryCode", "name": "Code", autoWidth: true},
                    {"data": "employeeNip", "name": "NIP", "autoWidth": true},
                    {"data": "employeeName", "name": "Name", "autoWidth": true},
                    {"data": "workStartTime", "name": "Start", "autoWidth": true},
                    {"data": "workEndTime", "name": "End", "autoWidth": true},
                    {
                        "data": "workDate",
                        "name": "Date",
                        "autoWidth": true
                    },
                    {
                        "data": "employeeWorkEntryId",
                        "orderable": false,
                        "render": function (data) {
                            if (roleUser === 'AttendanceManager') {
                                return `<div class="dropdown">
                                <a class="btn btn-outline-info" data-toggle="dropdown" href="#">
                                    <i class="fas fa-chevron-circle-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                    <a class="dropdown-item" href="/ManagementWorkEntry/Edit/${data}"><i class="fas fa-edit"></i> Edit</a>
                                    <a class="dropdown-item bg-danger" href="/ManagementWorkEntry/Delete/${data}"><i class="fas fa-trash"></i> Delete</a>
                                </div>
                            </div>`;
                            } else {
                                return `<div class="dropdown">
                                <a class="btn btn-outline-info" data-toggle="dropdown" href="#">
                                    <i class="fas fa-chevron-circle-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                    <a class="dropdown-item" href="/ManagementWorkEntry/Edit/${data}"><i class="fas fa-edit"></i> Edit</a>
                                </div>
                            </div>`;
                            }
                        }
                    }
                ]
            });
        });
    </script>
}