@model Presensi360.ViewModels.CreateCompanyViewModel
@{
    ViewData["Title"] = "Register Company";
}

<div class="col-12">
    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="card">
            <div class="card-header">
                <a href="@Url.Action("Index", "Company")" class="btn btn-danger">Back</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="CompanyCode">Code</label>
                            <input type="text" class="form-control @(ViewData.ModelState["CompanyCode"]?.Errors.Any() == true ? "is-invalid" : "")" asp-for="CompanyCode" placeholder="Ex:DPN, CSB, BBU, KAT">
                            <span asp-validation-for="CompanyCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="CompanyName">Name</label>
                            <input type="text" class="form-control @(ViewData.ModelState["LocationName"]?.Errors.Any() == true ? "is-invalid" : "")" asp-for="CompanyName" placeholder="Ex:PT Cerenti Subur,PT Johan Sentosa">
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="LocationID">Location</label>
                            <select class="form-control select2bs4" style="width: 100%;" asp-for="LocationID">
                                <option value="">Select Location</option>
                                @foreach (var workArea in (ViewBag.WorkAreas as IEnumerable<LocationModel>)!)
                                {
                                    <option value="@workArea.LocationID">@workArea.LocationCode - @workArea.LocationName</option>
                                }
                            </select>
                            <span asp-validation-for="LocationID" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>