@model IEnumerable<EmployeeMedicalClaim>
@{
    ViewData["Title"] = "Rawat Jalan";
    var iteration = 1;
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <a href="@Url.Action("DownloadForm", "MedicalClaim")" class="btn btn-info">
                    <i class="fas fa-file-download mr-2"></i>
                    Form
                </a>
            </div>
        </div>

        <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Date</th>
                    <th>Diagnosis</th>
                    <th>Period</th>
                    <th>Payment Period</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@iteration</td>
                        <td>@(item.ClaimDate?.ToString("dd MMMM yyyy") ?? "N/A")</td>
                        <td>@item.Diagnosis</td>
                        <td>@item.Period?.StartPeriodDate.ToString("MM/dd/yyyy") - @item.Period?.EndPeriodDate.ToString("MM/dd/yyyy")</td>
                        <td>@(item.PaymentPeriod?.ToString("MMMM yyyy") ?? "N/A")</td>
                    </tr>
                    iteration++;
                }
                </tbody>
            </table>

        </div>
    </div>
</div>