@model IEnumerable<EmployeeLeaveRequestModel>

@{
    ViewData["Title"] = "Permintaan Cuti";
    var iteration = 1;
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <a href="@Url.Action("DownloadForm", "LeaveRequest")" class="btn btn-info">
                    <i class="fas fa-file-download mr-2"></i>
                    Form
                </a>
            </div>
        </div>

        <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Date</th>
                        <th>Days</th>
                        <th>Reason</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@iteration</td>
                            <td>@item.LeaveDate.ToString("dd MMM yyyy")</td>
                            <td>@item.LeaveDays</td>
                            <td>@item.LeaveReason</td>
                            <td>@item.LeaveType</td>
                        </tr>
                        iteration++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
