@{
    ViewData["Title"] = $"{Resource.Management} {Resource.PermissionRequest}";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <a href="@Url.Action("Create", "ManagementPermissionRequest")" class="btn btn-info">
                <i class="fas fa-plus-square mr-2"></i> Leave
            </a>
            <div class="card-tools">
                <a href="@Url.Content("~/uploads/TemplateForm/TemplatePermissionRequest.xlsx")" class="btn btn-success">
                    <i class="fas fa-download mr-2"></i>Template</a>
                <a href="@Url.Action("Import", "ManagementPermissionRequest")" class="btn btn-primary">
                    <i class="fas fa-upload mr-2"></i>Data</a>
            </div>
        </div>
        <div class="card-body">
            <table id="permissionRequestTable" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center">No</th>
                    <th>Code</th>
                    <th>NIP</th>
                    <th>Employee</th>
                    <th>@Resource.Date</th>
                    <th>Type</th>
                    <th>Remarks</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            const roleUser = '@ViewBag.RoleUser';
            console.log(roleUser);
            $('#permissionRequestTable').DataTable({
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "ajax": {
                    "url": "/ManagementPermissionRequest/GetPermissionRequests",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return meta.row + 1;
                        },
                        "name": "No",
                        "autoWidth": true
                    },
                    {"data": "employeePermissionRequestCode", "name": "Code", "autoWidth": true},
                    {"data": "employeeNip", "name": "NIP", "autoWidth": true},
                    {"data": "employeeName", "name": "Employee", "autoWidth": true},
                    {"data": "permissionDate", "name": "Date", "autoWidth": true},
                    {"data": "permissionType", "name": "Type", "autoWidth": true},
                    {"data": "personnelRemarks", "name": "Remarks", "autoWidth": true},
                    {
                        "data": "employeePermissionRequestId",
                        "render": function (data) {
                            if (roleUser === "AttendanceManager") {
                                return `<div class="dropdown">
                                <a class="btn btn-outline-info" data-toggle="dropdown" href="#">
                                    <i class="fas fa-chevron-circle-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                    <a class="dropdown-item" href="/ManagementPermissionRequest/Edit/${data}"><i class="fas fa-edit"></i> Edit</a>
                                    <a class="dropdown-item bg-danger" href="/ManagementPermissionRequest/Delete/${data}"><i class="fas fa-trash"></i> Delete</a>
                                </div>
                                </div>`;
                            } else {
                                return `<div class="dropdown">
                                <a class="btn btn-outline-info" data-toggle="dropdown" href="#">
                                    <i class="fas fa-chevron-circle-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                    <a class="dropdown-item" href="/ManagementPermissionRequest/Edit/${data}"><i class="fas fa-edit"></i> Edit</a>
                                </div>
                                </div>`;
                            }
                        },
                        "name": "Action",
                        "autoWidth": true
                    }
                ]
            });
        });
    </script>
}